header {
  position: relative;

  height: 560px;
  @include flex;
}

.hero {
  display: flex;
  width: 80%;
  a {
    background: set-button-back-color(rgba(137, 143, 160, 0.685));
    color: set-button-text-color(rgba(137, 143, 160, 0.685));
  }

  &__content {
    width: 40%;
    background-color: #fff;
    margin-left: -100px;
    @include flex;
  }

  &__headers {
    background-color: aliceblue;
    padding: 30px;
    margin-left: -100px;
  }

  &__title {
    line-height: 1.5;
    font-size: 36px;
  }

  &__subtitle {
    line-height: 1.5;
    font-size: 16px;
  }

  &__image {
    width: 60%;

    img {
      width: 100%;
    }
  }
}

.overview {
  width: 100%;
  height: 400px;
  background: rgba(114, 113, 113, 0.199);
  @include flex;
  padding: 0 10%;
}

.legacy {
  display: flex;
  height: 400px;
  width: 80%;
  margin: 0 auto;
  a {
    background: set-button-back-color(rgba(137, 143, 160, 0.685));
    color: set-button-text-color(rgba(137, 143, 160, 0.685));
  }

  &__content {
    padding: 50px;
    width: 50%;
  }

  &__image {
    padding: 50px;
    width: 50%;

    img {
      width: 100%;
    }
  }
}

.collection {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
  padding: 50px;
  text-align: center;
  background: #fff;

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 50px 0;
  }

  &__item {
    width: 40%;
    height: auto;
    @include flex;

    img {
      margin: 0 auto;
      width: 300px;
    }
  }
  a {
    background: set-button-back-color(#fff);
    color: set-button-text-color(#fff);
  }
}
.action {
  height: 600px;
  position: relative;

  @include flex;

  button {
    z-index: 20;
  }
  a {
    background: set-button-back-color(rgba(137, 143, 160, 0.685));
    color: set-button-text-color(rgba(137, 143, 160, 0.685));
  }
}

.service {
  display: flex;

  margin: 0 auto;
  justify-content: space-around;
  background: rgba(114, 113, 113, 0.199);

  &__item {
    border: 1px solid rgba(255, 255, 255, 0.205);
    padding: 20px 20px;
    width: 20%;
  }
}

footer {
  height: 200px;
  background: rgba(114, 113, 113, 0.199);

  .social {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

    &__icon {
      font-size: 16px;
      color: rgb(27, 27, 27);
      margin: 0 10px;
      @include flex;
    }
  }
}
