.header__collections {
  @include flex;
  height: 80vh;
  overflow: hidden;
  @media (max-width: 1024px) {
    height: 100%;
  }

  .collections__title {
    @include absolute_center;
    color: $text-color-three;
    z-index: 100;
    @media (max-width: 1024px) {
      font-size: 18px;
    }
  }
}

.collections {
  height: 400px;
  @include flex;
  .glider-contain {
    width: 80%;
    .glider {
      &__item {
        @include flex;
        height: 300px !important;
        margin: 0 auto;
        position: relative;
        &:hover > img {
          transform: scale(1.2);
        }
        &:hover > .glider__hover {
          background: rgba(255, 255, 255, 0.5);
          transform: scale(1.2);
          display: flex;
        }
        img {
          margin: 0 auto;
          height: 250px;
          width: 140px;
          transition: all 0.2s ease-in-out;
        }
        .glider__hover {
          @include flex;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          position: absolute;
          display: none;
          transition: all 0.2s ease-in-out;
          .btn-link {
            background: set-button-back-color(rgba(20, 20, 20, 0.685));
            color: set-button-text-color(rgba(20, 20, 20, 0.685));
          }
        }
      }
    }
  }
}

.content {
  &__first {
    display: flex;
    margin-bottom: 50px;
    min-height: 560px;
    @media (max-width: 1024px) {
      flex-direction: column;
    }
  }
  &__image {
    width: 50%;
    position: relative;
    background: rgba(85, 85, 85, 0.603);
    @media (max-width: 1024px) {
      width: 100%;
      background: none;
    }
    img {
      width: 100%;
      position: absolute;
      top: 50px;
      left: 50px;
      @media (max-width: 1024px) {
        position: relative;
        top: 0;
        left: 0;
      }
    }
  }
  &__info {
    text-align: center;
    width: 50%;
    padding: 10%;
    @media (max-width: 1024px) {
      width: 100%;
    }
  }
  &__description {
    width: 100%;
    text-align: center;
  }
}
